<p>
  <a href="#" {{action "openUploadPhotosModal"}} class="button button-blue">Upload Photos</a>
</p>

<p class="control-links">
  <span>View:</span>
  {{#if isTableView }}
    <a class="active">Table</a>
    <a {{action setPhotosView "grid"}} >Grid</a>
  {{else}}
    <a {{action setPhotosView "table"}} >Table</a>
    <a class="active">Grid</a>
  {{/if}}
</p>

{{#if isTableView }}
  <div class="table-responsive" id="plan-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Date Taken</th>
          <th>Uploaded By</th>
          <th>Description</th>
          <th>File</th>
          <th>Controls</th>
        </tr>
      </thead>
      <tbody>
        {{#each controller}}
          <tr>
            <td class="photo-thumbnail-cell cursor-pointer" {{ action openPhotoViewer this }}>
              <div class="photo-thumbnail-container">
                <img src="{{unbound thumbnail_url}}">
              </div>
            </td>
            <td>{{format-date date_taken}}</td>
            <td>{{upload_user_email}}</td>
            <td title="{{unbound description}}">{{truncate description}}</td>
            <td title="{{unbound filename}}">
              <a href="/api/photos/download/{{unbound id}}">{{truncate filename}}</a>
            </td>
            <td>
              <ul style="padding-left:0px;" class="controls text-right unstyled">
                <li><a href="/photos/{{unbound id}}/gallery" target="_blank">View</a></li>
                {{#admin}}
                  <li><a {{action "openEditPhotoModal" this}} data-id="{{unbound id}}">Edit</a></li>
                  <li><a {{action "openDeletePhotoModal" this}}>Delete</a></li>
                {{else}}
                  {{#if controller.job.isMyJob}}
                    <li><a {{action "openEditPhotoModal" this}} data-id="{{unbound id}}">Edit</a></li>
                    <li><a {{action "openDeletePhotoModal" this}}>Delete</a></li>
                  {{else}}
                    {{#if current_user_is_owner}}
                      <li><a {{action "openEditPhotoModal" this}} data-id="{{unbound id}}">Edit</a></li>
                      <li><a {{action "openDeletePhotoModal" this}}>Delete</a></li>
                    {{/if}}
                  {{/if}}
                {{/admin}}
              </ul>
            </td>
          </tr>
        {{else}}
          <tr>
            <td>
              <!-- add message to upload image if they have permissions -->
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <!-- Update table with search when switching !-->
  <script>
    if (typeof window["toggleResults"] === "function") {
      toggleResults($("#search-input").val());
    }
  </script>
{{else}}
  <div class="row">
    {{#each controller}}
      <div class="grid-item col-lg-3 col-sm-4 col-xs-6 col-xxs-12">
        <div class="grid-view-image-container cursor-pointer" {{ action openPhotoViewer this }}>
          <img src="{{unbound grid_url}}">
          <div class="overlay">
            <p title="{{unbound description}}">{{truncate description}}</p>
            <p class="hidden">{{unbound filename}}</p>
            <p class="light">{{upload_user_email}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <!-- Update grid with search when switching !-->
  <script>
    if (typeof window["toggleResults"] === "function") {
      toggleResults($("#search-input").val());
    }
  </script>
{{/if}}
