<div class="row margin-bottom">
  <div class="col-sm-12">
    <p>Attachments:</p>

    <div class="control-group">
      {{#if canEditASI}}
        {{partial "modals/asi_dropzone_partial"}}
      {{else}}
        {{#if getASI.isNew}}
          {{partial "modals/asi_dropzone_partial"}}
        {{/if}}
      {{/if}}
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Filename</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="asi-attachments">
          {{#if getASI}}
            {{#each getASI.attachments}}
              <tr class="file-preview" data-attachment-id="{{ unbound this.id }}">
                <td title="{{unbound this.filename}}">{{ truncate this.filename }}</td>
                {{#if controller.canEditASI}}
                  <td><input class="file-preview-description" placeholder="Description" value="{{ unbound this.description }}"></td>
                {{else}}
                  <td title="{{ unbound this.description }}">{{ unbound truncate this.description }}</td>
                {{/if}}
                <td>
                  <span class="pull-right">
                    <a href="/api/asis/download_attachment/{{unbound this.id}}">Download</a>

                    {{#if controller.canEditASI}}
                      | <a class="remove">Remove</a>
                    {{/if}}
                  </span>
                </td>
              </tr>
            {{/each}}
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>
</div>

