<div class="dialog box box-border" style="width: 600px;">
  <div class="header">
    <p class="title">Submit A New RFI</p>
  </div>

  <div class="body">
    <div class="row margin-bottom">
      <div class="col-sm-12">
        <p>Subject:</p>
        <div class="control-group">
          <div class="controls">
            <input class="form-control" id="rfi-subject">
            <span class="help-inline">{{rfiErrors.subject}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-bottom">
      <div class="col-sm-12">
        <p>Notes:</p>
        <div class="control-group">
          <div class="controls">
            <textarea style="width: 100%; max-width: 100%; height: 150px; padding: 10px;" placeholder="Tell us about your RFI, etc" id="rfi-notes"></textarea>
            <span class="help-inline">{{rfiErrors.notes}}</span>
          </div>
        </div>
      </div>
    </div>

    {{partial "modals/rfi_attachments_partial"}}
  </div>
  <div class="footer">
    <div class="buttons">
      <a class="button" {{action "close"}}>Cancel</a>
      <a id="submit-rfi-button" class="button button-blue" {{action "save" target=controller}}>Submit RFI</a>
    </div>
  </div>
</div>
