
<div class="row" style="margin-bottom:20px">
  <div class="col-sm-8" style="padding-left:30px;">
		<input class="archived-box" type="checkbox" data-id="{{unbound id}}" {{unbound isArchived}} >
    <a href="/api/download/{{unbound this.id}}?type=plan_record" title="{{unbound filename}}"><span style="font-size:140%;margin-right:10px" class="glyphicon glyphicon-download"></span></a>
    <a style="word-wrap:break-word" href="/api/plans/embedded/{{unbound this.id}}?type=plan_record" target="_blank">{{this.filename}}</a>
  </div>
  <div class="col-sm-4" style="padding-left:30px;">
    <div> changed {{date updated_at }}</div>
  </div>
</div>
{{else}}
<div>
  This plan has no plan history.
</div>
