<tr>
  <td><%= email[:from] %></td>
  <td><%= email[:to] %></td>
  <td><%= email[:cc] %></td>
  <td><%= email[:subject] %></td>
  <td><%= email[:date] %></td>
  <td><%= email[:message_id] %></td>
 
</tr>